<!-- Header -->
<div ng-include="'navigation.html'"></div>
<!-- End header -->

<!-- Middle Section Start -->
<div class="container-fluid">
<div class="row">
<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
	<div class="myprofile_cont brd_radius">
		<div class="bluetitle_top">MY PROFILE</div>
		<div class="myprofile_inner">
			<div class="profile_name clearfix">
			<span class="user_profpic"><img class="img-responsive img-circle" src="images/user.png" alt=""></span>
			<div class="user_dtl_right">
			<span class="user_dtl">DAYAN
			D'ANIELLO</span>
			<span class="user_alias">@ddaniello</div>
			</div>
			<div class="reward_sec clearfix">
			<span class="rwd_balance">Rewards Balance:</span>
			<div class="rwd_price">$65</div>
			</div>
		</div>
		
<div class="profile_listing clearfix">
<ul>
	<li><a class="active" href="javascript:void(0)"><span class="reward_icon"></span> REWARDS</a></li>
	<li><a href="javascript:void(0)"><span class="setting_icon"></span> SETTINGS</a></li>
	<li><a href="javascript:void(0)"> <span class="badges_icon"></span>BADGES</a></li>
</ul>
</div>
		
	</div>
	
	<div class="profile_bottom clearfix">
		<ul>
			<li><a href="#">FEED</a> </li>
			<li><a href="#">QUIZZES</a> </li>
			<li><a href="#">MESSAGES</a> </li>
			<li><a href="#">fORUM</a> </li>
			<li>MAVY &copy; 2015</li>
		</ul>
	
	</div>
</div>

<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
<div class="middle_forum">
<div class="forumtitle_top feedblue">QUIZZES</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	
		<div class="main_box">		
			<div class="quizzes_sec clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="mypet_quiz clearfix">
					<ul>
						<li ng-repeat="assignment in allAssignments" ng-if="assignment.modules[0].moduleType == 2" ng-click="showAssignmentTasks(assignment)">
							<h3>{{assignment.modules[0].moduleTitle}}</h3>
							<div class="pfimg"><img class="img-responsive" src="images/img1.png" alt=""></div>
							<p dynamic="{{assignment.modules[0].options.instructions}}"></p>
						</li>
						
					</ul>
					</div>
				</div>
			</div>
		</div>
	
	
	
	</div>			
</div>

</div>
</div>
		
<div ng-include="'polls.html'" ng-controller="pollsCtrl"></div>
</div>
</div>
