<!-- Header -->
<div ng-include="'navigation.html'"></div>
<!-- End header -->
<!-- Middle Section Start -->
<div class="container-fluid">
<div class="row">
<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
	<div ng-include="'left_column.html'"></div>
</div>

<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
<div class="middle_forum">
<div class="forumtitle_top feedblue">QUIZZES</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	
		<h5 class="quiz-title" ng-if="assignment.modules[0].moduleTitle">{{assignment.modules[0].moduleTitle}}</h5>
		<p class="quiz-des" ng-if="assignment.modules" dynamic="{{assignment.modules[0].options.instructions}}"></p>
		<p class="quiz-des" ng-if="!assignment.modules" dynamic="{{assignment.options.instructions}}"></p>
		<div ng-if="showIframe" style="padding:20px;">
			<iframe ng-src="{{iframeSource | trustAsResourceUrl}}" class="quiz-frame"></iframe>
		</div>
		
	</div>			
</div>

</div>
</div>
		
<div ng-include="'polls.html'" ng-controller="pollsCtrl"></div>
</div>
</div>
<!-- Middle Section end -->

