   <ul class="bxslider" id="pagepiling">
		<li class="section slide-bg-image">
			<!-- Changing some structure -->
			<!--<img src="images/slide.png" />-->
			<!-- HEADER -->
			<section class="indexheader">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-5">
							<img src="images/logo.png" class="logo">
						</div>
						<div class="col-xs-12 col-sm-9 col-md-9 col-lg-7">
							<div class="top-nav">
								<ol>
									<li><a href="javascript: void(0)" data-ind='1'>APPLICATION</a>
									</li>
									<li><a href="javascript: void(0)" data-ind='2'>About</a>
									</li>
									<li><a href="javascript: void(0)" data-ind='3'>REWARDS</a>
									</li>
									<li>
										<button class="button" type="button">Log In</button>
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="panel-subscription">
				<div class="text-align-center">
					<img src="images/logo1.png">
				</div>
				 <div class="panel-body">
                    <div role="form" class="form-horizontal trial-form">
                        <form ng-submit="login()" method="post">
                            <fieldset>
                            <div class="form-group">
                                <input type="text" required="true" placeholder="Username" name="trial-name" id="" class="form-control username" ng-model="sign.uname">
                            </div>
                            <div class="form-group">
                                <input type="password" required="true" placeholder="Password" name="trial-email" id="" class="form-control password" ng-model="sign.password">
                            </div>
                            <div class="form-group">
                               <button type="submit" class="btn btn-lg signupfacebook signin">Log In</button>
                            </div>
                        </fieldset>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    <label class="text-center or">OR</label>
                    <button type="submit" class="btn btn-lg signupfacebook">Sign In with Facebook</button>
                </div>
			</div>
			<!-- <div class="downarrow"><a href=""><img src="images/arrow.png"></a></div> -->
			<!-- End Here -->
				<!--<img src="images/slide1.png" />-->
				<!-- <header class="indexheader">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-5">
								<div class="nav1"><a id="App" href="#">App</a>
								</div>
							</div>

							<div class="col-xs-9 col-sm-9 col-md-9 col-lg-7">
								<div class="top-nav">
									<ol>
										<li>
											<button class="button" type="button">Log In</button>
										</li>
										<li>
											<button class="button signup" type="button ">SIGN Up</button>
										</li>
									</ol>
								</div>
							</div>

						</div>
					</div>
				</header> -->
		</li>
		
		<li class="section slide1-bg-image">
			<div class="MAVYApp-subscription">
					<h2 class="title">MAVY App is here.</h2>
					<h2 class="title">Download the app now.</h2>
					<p>The MAVY app is a source of ongoing understanding of the dynamic millennial consumer segments as they age and move into different stages of their lives. </p>


					<a href="#" class="btn-app-store"></a>
					<a href="#" class="btn-google-play"></a>
			</div>
			<header class="indexheader">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-5">
							<div class="nav1"><a id="App" href="#">App</a>
							</div>
						</div>

						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-7">
							<div class="top-nav">
								<ol>
									<li>
										<button class="button" type="button">Log In</button>
									</li>
									<li>
										<button class="button signup" type="button ">SIGN Up</button>
									</li>
								</ol>
							</div>
						</div>

					</div>
				</div>
			</header>
		</li>
        <li class="section slide2-bg-image">
            <!--<img src="images/slide3.jpeg" />-->
            <header class="indexheader">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-5">
                            <div class="nav1"><a name="myAnchor" id="myAnchor">ABOUT</a>
                            </div>
                        </div>

                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-7">
                            <div class="top-nav">
                                <ol>
                                    <li>
                                        <button class="button" type="button">Log In</button>
                                    </li>
                                    <li>
                                        <button class="button signup" type="button ">SIGN Up</button>
                                    </li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <div class="content_div">
                <h1>What's MAVY?</h1>
                <h3>Short for Maverick - an independent thinker - MAVY is a platform for Millenials to have their voices heard, opinions understood, and desires met.</h3>
                <p>Among other things, MAVY is a virtual community created and managed by millennials that can tell you exactly what they're thinking and a research tool available to marketers who have something to say.</p>
                <a class="button" href="#">LEARN MORE <img src="images/left_arrow.png" alt=""/></a>
            </div>
        </li>

        <li class="section slide3-bg-image">
            <!--<img src="images/slide4.jpeg" />-->
            <header class="indexheader">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-5">
                            <div class="nav1">
                                <a name="rewards"></a><a href="">Rewards</a>
                            </div>
                        </div>

                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-7">
                            <div class="top-nav">
                                <ol>
                                    <li>
                                        <button class="button" type="button">Log In</button>
                                    </li>
                                    <li>
                                        <button class="button signup" type="button ">SIGN Up</button>
                                    </li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <div class="content_div color1">
                <h1>What's in it for me?</h1>
                <h3>Share your voice. Tell your favorite brands exactly what you want.</h3>
                <p>Besides the satisfaction of having your voice heard and being a part of a like-minded community, you get paid! The more you use MAV, the stronger your voice will be. MAVV provides each of us the opportunity to earn badges for sharing our opinions, and let's us collect points that can be cashed out for cool prizes.</p>
                <a class="button" href="#">LEARN MORE <img src="images/left_arrow.png" alt=""/></a>
            </div>
        </li>

        <li class="section slide4-bg-image">
            <!--<img src="images/slide5.png" />-->
            <header class="indexheader">


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-5">

                        </div>

                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-7">
                            <div class="top-nav">
                                <ol>
                                    <li>
                                        <button class="button" type="button">Log In</button>
                                    </li>
                                    <li>
                                        <button class="button signup" type="button ">SIGN Up</button>
                                    </li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- <h2>Mavy is currently in private beta. Please come back in November for our launch.</h2> -->

            </header>



            <div class="panel-subscription">
                <!-- <div ng-include="'loginform.html'"></div> -->
                <div class="panel-body">
                    <div role="form" class="form-horizontal trial-form">
                        <form ng-submit="login()" method="post">
                            <fieldset>
                            <div class="form-group">
                                <input type="text" required="true" placeholder="Username" name="trial-name" id="" class="form-control username" ng-model="sign.uname">
                            </div>
                            <div class="form-group">
                                <input type="password" required="true" placeholder="Password" name="trial-email" id="" class="form-control password" ng-model="sign.password">
                            </div>
                            <div class="form-group">
                               <button type="submit" class="btn btn-lg signupfacebook signin">Log In</button>
                            </div>
                        </fieldset>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">
                    <label class="text-center or">OR</label>
                    <button type="submit" class="btn btn-lg signupfacebook">Sign In with Facebook</button>
                </div>
                <a class="btn-app-store" href="#"></a>
                <a class="btn-google-play" href="#"></a>
                <p class="clear"></p>
                <footer>
                    <p><a href="" class="active">APP</a><a href="">ABout</a><a href="">Rewards</a>
                    </p>
                    <p>CopyRight &#9400 2015 Mavy</p>

                    <p><a href=""><i class="fa fa-facebook"></i></a><a href=""><i class="fa fa-twitter"></i></a>
                    </p>


                </footer>

            </div>
        </li>
    </ul>
	<script>
		$('.top-nav li a').click(function(){
			var index = $(this).data('ind');
			$('.section').removeClass('active');
			$('.section').eq(index).addClass('active');
			$('#pp-nav ul li a').removeClass('active');
			$('#pp-nav ul li a').eq(index).addClass('active');
			for(var i=$(this).data('ind')-1;i>=0;i--){
				$('.section').eq(i).css({"transform": "translate3d(0px, -100%, 0px)"});
			}			
		});
	</script>